:root {
  font-family: "Roboto";
}

button, input[type=submit] {
  border: none;
  width: 25px;
  height: 25px;
  font-size: 17px;
}

button:hover, input[type=submit]:hover {
  border: 1px solid black;
}

.ic {
  font-family: "Material Symbols Rounded";
}

.receipt {
  font-size: 12px;
  max-width: 155px;
  width: 130px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  align-content: center;
  border: 1px dashed black;
}

td, th, tr, .rTable {
  border-top: 1px solid black;
  border-collapse: collapse;
}

.title {
  /*font-size: 14px;*/
  font-weight: bold;
}

/* Form Style */

@media print {
  :not(.print) {
    display: none;
  }

  .receipt {
    border: none;
  }
}
