:root {
  font-size: 12px;
  font-family: 'Roboto';
}

td,
th,
tr,
table {
    border-top: 2px dotted black;
    border-collapse: collapse;
}

td.description,
th.description {
    width: 75px;
    max-width: 75px;
}
td.quantity,
th.quantity,
td.price,
th.price {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
}
.centered {
    text-align: center;
    align-content: center;
}
.ticket {
    width: 155px;
    max-width: 155px;
}


@media print {
    .printHidden {
        display: none !important;
    }
}